.cover__slide {
    display: flex;
    height: 488px;
    width: 100%;
}
.container_slide {
    flex: 0 0 83%;

    display: flex;
    overflow: hidden;
    position: relative;
}


.container_thumbnail {
    flex: 0 0 17%;
    background: #2F2F2F;
}
