


.swiper-container{
  overflow: visible !important;
}

.big__pagination{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.big__pagination .swiper-pagination-bullet {
    width: 22px;
    height: 2px;
    text-align: center;
    font-weight: normal;
    border-radius: 0;
    line-height: 20px;
    font-size: 12px;
  
    color: #000;
    opacity: 1;
    background: #2F2F2F;
    transition: ease-in-out all 200ms;
    margin-left: 6px;
  }
  .big__pagination .swiper-pagination-bullet-active {
    background: rgb(252, 252, 252);
    width: 24px;
    height: 2px;
  } 




  @media screen and (max-width: 746px) {
    
}